main{
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

table{
    margin-top: 2rem;
}

table, th, td {
    border-collapse: collapse;
    border: 2px solid #F0EFF0;
    padding: 1rem;
    text-align: center;
}

.item-container{
    width: 85%;
    padding: 0 2rem 1rem 2rem;
    border-bottom: #f2f2f2 solid 2px;
}

.item-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-amount {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-amount div{
    padding-left: 1rem;
}

.item-specifications {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
}

.item-specifications div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.2rem 0 0.2rem 0;
}

/* ----- button -----*/

button[type="submit"]:hover {
    background-color: #AC58E4;
}

button[type="submit"] {
    width: 100px;
    background-color:#421064;
    color: white;
    padding: 10px 20px;
    margin: 1rem 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: end;
}