*{
    font-family: Inter, Arial, Helvetica, sans-serif;

}

header {
    display: flex;
    justify-content: center;
    border: 0px;
    background-color: #421064;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F0EFF0;
    color: #9E9E9E;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    margin: 8px 0 8px;
}
.top a{
    color: #9E9E9E;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
}

.btn[type="submit"]:hover {
    background-color: #AC58E4;
}

.btn[type="submit"] {
    background-color:#421064;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.error {
    border: 1px solid red;
    padding: 10px;
    color: red;
    max-width: 400px;
}