*{
    font-family: Inter, Arial, Helvetica, sans-serif;

}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F0EFF0;
    color: #9E9E9E;
    padding: 1rem 1.2rem 1rem 1.2rem;
    margin: 8px 0 8px;
}
.top a{
    color: #9E9E9E;
    text-decoration: none;
    text-align: center;
}