*{
    font-family: Inter, Arial, Helvetica, sans-serif;

}


/* ----- header ----- */

.global-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 2.5rem 1rem 2.5rem;
    border: 0;
    background-color: #421064;
}

.cupcakelogo{
    height: 250px;
    width: auto;
}

/* ----- top section ----- */

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F0EFF0;
    color: #9E9E9E;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    margin: 8px 0 8px;
}

.top-section div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-section a, .top-section p {
    display: flex;
    align-items: center;

    color: #9E9E9E;
    text-align: center;
    text-decoration: none;
    margin-right: 2rem;
}

.top-section div a:hover, .top-section div img:hover{
    color: #CFCFCF;
}


/* ----- buttons ----- */

.btn[type="submit"]:hover {
    background-color: #AC58E4;
}

.btn[type="submit"] {
    background-color:#421064;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.error {
    border: 1px solid red;
    padding: 10px;
    color: red;
    max-width: 400px;
}