
.cupcake-amount {
    display: inline-block;
    margin-left: 10px;
}


.cupcakes {
    margin-top: 5px;
}

.cupcakes div {
    font-size: 14px;

}
.lilNoob, .lilNoob div, .lilNoob h4{
    display: flex;
    align-content: center;
    margin: 0;


}


