<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check out</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">
    <link href="../public/css/checkoutpage.css" th:href="@{/css/checkoutpage.css}" rel="stylesheet">
</head>

<body>

<header class="global-header">
    <a href="../index.html" th:href="@{/}">
        <img alt="logo" src="../public/images/CupcakeLogo.png" th:src="@{/images/CupcakeLogo.png}"/>
    </a>
    <img class="cupcakelogo" alt="logo" src="../public/images/headerimage.png" th:src="@{/images/headerimage.png}"/>
</header>

<div class="top-section">
    <a href="orderpage.html" th:href="@{backToHomepage}">Homepage</a>
    <p th:text="${session.currentUser.user_name}">name</p>
</div>

<main>
    <form class="generic-form" method="post">
        <h1>Din kurv</h1>

        <div th:if="${session.cart == null}">
            <p>You have no items in the cart</p>
        </div>

        <div th:if="${session.cart != null}">
            <table class="item-container">
                <thead>
                <tr>
                    <th>Cupcake</th>
                    <th>Amount</th>
                    <th>Bottom</th>
                    <th>Topping</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cartLine : ${session.cart.cartLines}">
                    <td>Cupcake</td>
                    <td th:text="${cartLine.amount}">2</td>
                    <td th:text="${cartLine.bottoms.flavor}">Chocolate</td>
                    <td th:text="${cartLine.toppings.flavor}">Vanilla</td>
                    <td th:text="${cartLine.getPrice()}">Price</td>
                </tr>
                </tbody>
            </table>

            <button type="submit" formaction="/pay">Betal</button>
        </div>
    </form>
</main>

</body>
</html>