<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check out</title>
    <link href="../public/css/styles.css"  th:href="@{/css/styles.css}" rel="stylesheet">
    <link href="../public/css/checkoutpage.css"  th:href="@{/css/checkoutpage.css}" rel="stylesheet">
</head>

<body>

    <header class="page">
        <a href="../index.html" th:href="@{/}">
            <img alt="logo" src="../public/images/CupcakeLogo.png" th:src="@{/images/CupcakeLogo.png}"/>
            <img alt="logo" src="../public/images/headerimage.png" th:src="@{/images/lifehacklogo.png}"/>
        </a>
    </header>

    <div class="top">
        <a href="../index.html">Homepage</a>
        <p>( user )</p>
    </div>

    <main>
        <h1>Din kurv</h1>
        <div class="item-container">
            <div class="item-head">
                <h3>CupCake-</h3>
                <div class="item-amount">
                    <div>Amount: </div><div>2</div>
                </div>
            </div>
            <div class="item-specifications">
                <div class="items-topping">
                    <p>Topping: </p><div>Vanilla</div>
                </div>
                <div class="item-bottoms">
                    <p>Bottom:  </p><div>Chocolate</div>
                </div>
            </div>
        </div>

        <div class="item-container">
            <div class="item-head">
                <h3>CupCake-</h3>
                <div class="item-amount">
                    <div>Amount: </div><div>2</div>
                </div>
            </div>
            <div class="item-specifications">
                <div class="items-topping">
                    <p>Topping: </p><div>Vanilla</div>
                </div>
                <div class="item-bottoms">
                    <p>Bottom:  </p><div>Chocolate</div>
                </div>
            </div>

        </div>

        <button type="submit"> Betal </button>
    </main>

</body>
</html>