<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Createuser</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/loginpage.css" th:href="@{/css/loginpage.css}" rel="stylesheet">
</head>
<body>

<header class="page">
    <a href="../index.html" th:href="@{/}">
        <img alt="logo" src="../public/images/CupcakeLogo.png" th:src="@{/images/CupcakeLogo.png}"/>
        <img alt="logo" src="../public/images/headerimage.png" th:src="@{/images/lifehacklogo.png}"/>
    </a>
</header>

<form class="generic-form" method="post">
    <input type="text" name="username" placeholder="Enter your username"/>
    <input type="password" name="password1" placeholder="Enter your password"/>
    <input type="password" name="password2" placeholder="Enter your password again"/>


    <button class="btn" type="submit" formaction="createuser">Create account</button>

    <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>
</form>



</body>
</html>
