<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogIn page</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/loginpage.css" th:href="@{/css/loginpage.css}" rel="stylesheet">
</head>
<body>
    <header class="global-header">
        <a href="../index.html" th:href="@{/}">
            <img alt="logo" src="../public/images/CupcakeLogo.png" th:src="@{/images/CupcakeLogo.png}"/>
        </a>
        <img class="cupcakelogo" alt="logo" src="../public/images/headerimage.png" th:src="@{/images/headerimage.png}"/>
    </header>

    <h1>Log ind for at bestille dine cup cakes</h1>

    <div class="generic-form">
        <form method="post">
            <input type="text" name="username" placeholder="Enter your username"/>
            <input type="password" name="password" placeholder="Enter your password"/>
            <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>

            <button class="btn logIn" type="submit" formaction="/login">Login</button>
        </form>
        <div class="signUp_LogOut">
            <a class="signUp btn" href="createuser.html" th:href="@{createuser}" target="_parent">Create account</a>
            <button th:if="${session.currentUser != null}" class="btn logOut" type="submit" formaction="/logout">Log Out</button>
        </div>
    </div>
</body>
</html>