<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogIn page</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

    <header class="page">
        <a href="../index.html" th:href="@{/}">
            <img alt="logo" src="../public/images/headerimage.png" th:src="@{/images/lifehacklogo.png}"/>
        </a>
    </header>

    <h1>Log ind for at bestille dine cup cakes</h1>


    <form class="generic-form" method="post">
        <input type="text" name="username" placeholder="Enter your username"/>
        <input type="password" name="password" placeholder="Enter your password"/>
        <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>

        <button class="btn logIn"type="submit" formaction="/login">Login</button>
        <div class="signUp_LogOut">
            <button class="btn signUp" type="submit" formaction="/createAcc">Create account</button>
        <button class="btn logOut" type="submit" formaction="/createAcc">Log Out</button></div>
    </form>




</body>
</html>