<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User view</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../public/css/viewOrderStyles.css" th:href="@{/css/viewOrderStyles.css}" rel="stylesheet"/>
</head>
<body>

<header class="global-header">
    <a href="../index.html" th:href="@{/}">
        <img alt="logo" src="../public/images/CupcakeLogo.png" th:src="@{/images/CupcakeLogo.png}"/>
    </a>
    <img class="cupcakelogo" alt="logo" src="../public/images/headerimage.png" th:src="@{/images/headerimage.png}"/>
</header>

<div class="top-section">
    <a href="../orderpage" th:href="@{backToHomepage}">Homepage</a>
    <p th:text="${session.currentUser.user_name}">name</p>
</div>


<main>
    <table class="task-table">
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Total Price</th>
            <th>Amount of orderlines</th>
            <th>Customer ID</th>
            <th>Customer Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order: ${orderList}">
            <td th:text="${order.order_id}"></td>
            <td th:text="${order.total_price}"></td>
            <td th:text="${order.orderline_amount}"></td>
            <td th:text="${order.user_id}"></td>
            <td th:text="${order.user_name}"></td>
        </tr>
        </tbody>
    </table>
</main>
<div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>

</body>
</html>